orchestrator
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://aminaj-newsletter-api.hf.space/extract_news",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=topic",
              "value": "={{ $json[\"output.topics\"] }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "[\"https://www.sciencedaily.com/rss/computers_math/artificial_intelligence.xml\", \"https://www.technologyreview.com/feed/\", \"https://thegradient.pub/rss/\"] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "53f1c39f-260c-4b46-a424-22f43928d8d2",
      "name": "Search News for Topic",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Uo4mK61XiC4MJ5uO",
          "mode": "list",
          "cachedResultName": "Topic Finder Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "id": "7b1cbde8-6e9c-491a-8301-32c96320d53b",
      "name": "Select Topics",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lqeWvOz3ipJqLdwh",
          "mode": "list",
          "cachedResultName": "Newsletter Generator Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        0
      ],
      "id": "b307211d-d877-425c-85b2-88b42fbd1988",
      "name": "Generate Newsletter",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.topics",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "159c0170-3a9f-4ed0-a805-d4c1c648bc0a",
      "name": "Split Topics"
    },
    {
      "parameters": {
        "path": "546ef0c7-cf74-43af-8ebb-68ed89f2b2ee",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "5763d8e5-4634-44df-9fca-dd6e567a1081",
      "name": "Webhook",
      "webhookId": "546ef0c7-cf74-43af-8ebb-68ed89f2b2ee"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1152,
        0
      ],
      "id": "c2b8d437-cb7f-470f-954a-c5eea78bf121",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Search News for Topic": {
      "main": [
        [
          {
            "node": "Generate Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Topics": {
      "main": [
        [
          {
            "node": "Split Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Newsletter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Topics": {
      "main": [
        [
          {
            "node": "Search News for Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Select Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "22abdc87d0dbff502cc5df5645a6633aaf13de13e1f3a2210cb18ccb3e0d81c7"
  }
}
